aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aiosignal==1.4.0
annotated-types==0.7.0
anyio==4.12.1
assemblyai==0.52.0
attrs==25.4.0
build==1.2.1
CacheControl==0.14.0
certifi==2025.1.31
cffi==1.16.0
charset-normalizer==3.3.2
cleo==2.1.0
crashtest==0.4.1
distlib==0.3.8
dulwich==0.21.7
fastjsonschema==2.19.1
filelock==3.14.0
frozenlist==1.8.0
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.7
installer==0.7.0
jaraco.classes==3.4.0
keyring==24.3.1
more-itertools==10.2.0
msgpack==1.0.8
multidict==6.7.1
nodejs-wheel-binaries==24.13.1
packaging==24.0
pexpect==4.9.0
pkginfo==1.10.0
platformdirs==4.2.2
poetry==1.8.3
poetry-core==1.9.0
poetry-plugin-export==1.8.0
propcache==0.4.1
ptyprocess==0.7.0
pycparser==2.22
pydantic==2.12.5
pydantic_core==2.41.5
pyproject_hooks==1.1.0
pytubefix==10.3.6
rapidfuzz==3.9.2
requests==2.32.3
requests-toolbelt==1.0.0
shellingham==1.5.4
tomlkit==0.12.5
trove-classifiers==2024.5.22
typing-inspection==0.4.2
typing_extensions==4.15.0
urllib3==2.2.1
virtualenv==20.26.2
websockets==16.0
xattr==1.1.0
yarl==1.22.0
